*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
        font-family: 'Calibri', 'Arial', sans-serif;
    background-color: black;
}
.container{
    width: 100vw;
    margin-top: 3%;
    display: none;
    
    
}
.con{
    color: white;
    margin-top: 23%;
    width: 100%;
    
    margin-left: 25%;
}
.first{
    width: 130%;
    font-size: 34px;
    
}
.second{
    margin-left: 13%;
    font-weight: 400;
    
    font-size: 30px;
}
.con2{
    margin-top: 23%;
    color: white;
    margin-left: 29%;
    width: 65%;
    height: 20%;

}
h4{
    font-size: 18px;
    width: 120%;
    margin-left: 35%;
    color: #f1b71f;
}
p{
    text-align: center;
    font-size: 16px;
     margin-left: 5%;
}
.footer{
    color: white;
    margin-top: 22%;
    font-size: 15px;
    width: 100%;
    margin-left: 17%;
}
.container{
    display: flex;
}
.image{
    width: 60%;
    margin-top: 10%;
    margin-left: 50%;
}
.container1{
 margin-left: 3%;
}
a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:1440px) {
    .container1{
        margin-left: -2%;
        color: #f1b71f;
        margin-top: -2%;
    }
    .con{
        color: white;
        margin-top: 23%;
        margin-left: 25%;
    }
    .image{
        width: 60%;
        margin-top: 10%;
        margin-left: 30%;
    }
    .footer{
        color: white;
        margin-top: 22%;
        font-size: 15px;
        width: 100%;
        margin-left: 17%;
    }
}

@media screen and (max-width:1200px) {
    .container1{
        margin-left: -2%;
        color: #f1b71f;
        margin-top: -2%;
    }
    .con{
        color: white;
        margin-top: 23%;
        margin-left: 25%;
    }
    .image{
        width: 60%;
        margin-top: 10%;
        margin-left: 30%;
    }
    .footer{
        color: white;
        margin-top: 22%;
        font-size: 15px;
        width: 100%;
        margin-left: 17%;
    }
}
